extends layout

block content
  script(type='text/x-handlebars' id='application')
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Staging Server Manager
            ul.nav.masthead-nav
              if currentUser
                li
                  a(href=currentUser.html_url)= currentUser.email
                li
                  a(href='/auth/signout') Logout
              else
                li
                  a.login-link(href='/auth/signin') Login


        .inner.cover.
          {{outlet}}

        .mastfoot
          .inner
            p powered by saksmlz

  script(type='text/x-handlebars', id='login')
    h1.cover-heading Share your servers
    p.lead
      a.login-link.btn.btn-default.btn-lg(href='/auth/signin') Login

  script(type='text/x-handlebars', id='servers')
    .row
      {{#each server in model}}
      .col-sm-4.col-md-4
        .plan
          .head
            h2
              {{server.name}}
          ul.item-list
            li.
              {{#if server.locked}}
                locked by: {{server.locked_by_name}}
              {{else}}
                free to lock
              {{/if}}
            li.
              {{#if server.locked}}
                <button class='btn btn-default btn-danger' {{action 'unlock' server}}>unlock</button>
              {{else}}
                <button class='btn btn-default btn-success' {{action 'lock' server}}>lock</button>
              {{/if}}
      {{/each}}
