extends layout

block content
  script(type='text/x-handlebars' id='loading')
    .row
      .col-sm-12.col-lg-12.text-center.loading Loading...
        br
        img(src='/images/ajax-loader.gif')

  script(type='text/x-handlebars' id='confirmUnlock').
    <div class='modal fade' id='confirmUnlock' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
            <h4 class='modal-title' id='myModalLabel'>Confirmation</h4>
          </div>
          <div class='modal-body'>
            Are you sure you want to unlock <strong>{{name}}</strong>? It that was already locked by <strong>{{locked_by_name}}</strong> ?
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-default' data-dismiss='modal' {{action 'closeModal'}} >I don't</button>
            <button type='button' class='btn btn-primary' data-dismiss='modal' {{action 'unlock' this}} >Unlock anyway</button>
          </div>
        </div>
      </div>
    </div>

  script(type='text/x-handlebars' id='components/x-woof').
    {{#each messages}}
      {{x-woof-message message=this}}
    {{/each}}

  script(type='text/x-handlebars' id='components/x-woof-message').
    <div {{bind-attr class=':woof-message :alert :alert-dismissable message.typeClass'}}>
      <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
      {{{message.message}}}
    </div>

  script(type='text/x-handlebars' id='application')
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Staging Manager

        .navbar-collapse.collapse
          ul.nav.navbar-nav.pull-right
            if currentUser
              li
                a(href=currentUser.html_url)
                  img.avatar.img-circle(src=currentUser.avatar_url)
                  = currentUser.verboseName()
              li
                a(href='/auth/signout') Logout
            else
              li
                a.login-link(href='/auth/signin') Login

    .container#main_content
      #messages
        {{x-woof}}

      {{outlet}}
      {{outlet loading}}
      {{outlet modal}}


    #footerwrap
      footer.clearfix
      .container
        .row
          .col-sm-12.col-lg-12
            p
              a(href='https://github.com/saks/staging_manager/issues/', target='_blank') Report issues here
            p © 2014 saksmlz. All rights reserved.


  script(type='text/x-handlebars', id='login')
    #login_screen
      h1.cover-heading.text-center
        = 'Please '
        a#login_link(href='/auth/signin') let us know
        = ' who you are.'

  script(type='text/x-handlebars', id='servers')
    .row
      {{#each}}
      .col-sm-3.col-lg-3.
        <div class='dash-unit' {{bind-attr class='isLoading:loading:'}}>
          <dtitle>{{linkToServer this}}</dtitle>
          <hr/>
          <div class='cont'>
            <p>deployed by: {{deployedBy}}</p>
            <p>at: {{formatDate deployedAt}}</p>
            <p class='branch'>branch: {{branchName}}</p>
            {{#if locked}}
              <p>locked by: {{locked_by_name}}</p>
              <p>at: {{formatDate locked_at}}</p>
            {{else}}
            <p>free to lock</p>
            <p>&nbsp;</p>
            {{/if}}
          </div>
          <div class='footer'>
            {{#if isLoading}}
              <button class='btn btn-default btn-lg' disabled='true'>wait...</button>
            {{else}}
              {{#if locked}}
                {{#if lockedByCurrentUser}}
                  <button class='btn btn-default btn-lg btn-danger' {{action 'unlock' this}}>unlock</button>
                {{else}}
                  <button class='btn btn-default btn-lg btn-danger' {{action 'tryUnlock' this controller}}>unlock</button>
                {{/if}}
              {{else}}
                <button class='btn btn-default btn-lg btn-success' {{action 'lock' this}}>lock</button>
              {{/if}}
            {{/if}}
          </div>
        </div>
      {{/each}}
