extends layout

block content
  script(type='text/x-handlebars')
    .container
      .pricing-tables
        h1#detached-wide.
          Detached - Wide
        {{outlet}}

  script(type='text/x-handlebars', id='servers')
    .row
      {{#each server in model}}
      .col-sm-4.col-md-4
        .plan
          .head
            h2
              {{server.name}}
          ul.item-list
            li
              strong.
                ip: {{server.ip_address}}
            li.
              <button class='btn btn-default btn-success' {{action 'lock' server}}>lock</button>
      {{/each}}
