extends layout

block content
  script(type='text/x-handlebars' id='application')
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand.
              Staging Server Manager
            ul.nav.masthead-nav
              li
                a(href='#').
                  Logout

        .inner.cover.
          {{outlet}}

        .mastfoot
          .inner
            p.
              powered by saksmlz

  script(type='text/x-handlebars', id='login')
    h1.cover-heading.
      Share your servers
    p.lead
      a.btn.btn-default.btn-lg(href='/auth').
        Login

  script(type='text/x-handlebars', id='servers')
    .row.
      {{#each server in model}}
      .col-sm-4.col-md-4
        .plan
          .head
            h2
              {{server.name}}
          ul.item-list
            li
              strong.
                ip: {{server.ip_address}}
            li.
              {{#if server.locked}}
                <button class='btn btn-default btn-danger' {{action 'unlock' server}}>unlock</button>
              {{else}}
                <button class='btn btn-default btn-success' {{action 'lock' server}}>lock</button>
              {{/if}}
      {{/each}}
