doctype html
html
  head
    title= title
    != css('application')
    if currentUser
      meta(name='current-user' content='#{JSON.stringify(currentUser)}')
  body
    block content
    != js('application')
