doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pricing-tables.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    if currentUser
      meta(name='current-user' content='#{JSON.stringify(currentUser)}')
  body
    block content
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/handlebars-1.1.2.js')
    script(type='text/javascript', src='/javascripts/ember-1.7.0.js')
    script(type='text/javascript', src='/javascripts/ember-data.min.js')
    script(type='text/javascript', src='/javascripts/app.js')
